*~
*.depend
*.layout
*.cbp
*.aux
*.log
*.pdf
*.tex
obj/
bin/
rapidex
*.output
parser/stack.hh
parser/SimplexParser.hpp
parser/SimplexParser.cpp
parser/SimplexLexer.cpp
parser/location.hh
parser/position.hh
